<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
    <link rel="/css/bootstrap.css" rel="stylesheet">
    <link rel="/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      body {
        font-family: 'Lobster', serif;
        font-size: 48px;
		    background: repeating-linear-gradient(to bottom, #A3A948 0px, #A3A948 100px, #EDB92E 100px, #EDB92E 200px, #F85931 200px, #F85931 300px, #CE1836 300px, #CE1836 400px, #009989 400px, #009989 500px);
      }

    #content {
    font-size: 72px;
		width: 500px ;
		height: 1px ;
		margin-left: auto ;
		margin-right: auto ;
		margin-top: 10%;
		text-align: center;
	  }

	  #subcontent {
    font-size: 32px;
		width: 500px ;
		height: 1px ;
		margin-left: auto ;
		margin-right: auto ;
		margin-top: 10%;
		text-align: center;
	  }
    #buttoncontent {
    font-size: 24px;
    width: 500px ;
    height: 1px ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 10%;
    text-align: center;
    }
    </style>
  </head>
  <body>
    <div id="content">Rainbow Ref</div>
    <div id="subcontent">A new way to share content</div>
    <div id="subcontent">
      <form action="/create" method="post">
        <input type="text" name="url">
        <input type="submit">
      </form>
    </div>
    <div id="buttoncontent">
      <%= button %>
      <p>Button for <%= url %> successfully created!</p>
    </div>
  </body>
</html>