<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
    <style>
      body {
        font-family: 'Lobster', serif;
        font-size: 48px;
        background-image: -webkit-linear-gradient(left, #A3A948 0%, #A3A948 8.33%, #EDB92E 8.33%, #EDB92E 16.66%, #F85931 16.66%, #F85931 24.99%, #CE1836 24.99%, #CE1836 33.32%, #009989 33.32%, #009989 41.65%, #A3A948 41.65%, #A3A948 49.98%, #EDB92E 49.98%, #EDB92E 58.31%, #F85931 58.31%, #F85931 66.64%, #CE1836 66.64%, #CE1836 74.97%, #009989 74.97%, #009989 83.3%, #A3A948 83.3%, #A3A948 91.63%, #EDB92E 91.63%, #EDB92E 100%);
      }

    #content {
    font-size: 72px;
		width: 500px ;
		height: 1px ;
		margin-left: auto ;
		margin-right: auto ;
		margin-top: 100px;
		text-align: center;
	  }

	  #subcontent {
    font-size: 32px;
		width: 500px ;
		height: 1px ;
		margin-left: auto ;
		margin-right: auto ;
		margin-top: 100px;
		text-align: center;
	  }
    </style>
  </head>
  <body>
    <div id="content">Rainbow Ref</div>
    <div id="subcontent">A new way to share content</div>
    <div id="subcontent">
      <form action="/create" method="post">
        <input type="text" placeholder="http://mywebsite.com" name="url">
        <input type="submit">
      </form>
    </div>
  </body>
</html>