<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
    <style>
      body {
        font-family: 'Lobster', serif;
        font-size: 48px;
		    background: repeating-linear-gradient(90deg, #A3A948 0px, #A3A948 100px, #EDB92E 100px, #EDB92E 200px, #F85931 200px, #F85931 300px, #CE1836 300px, #CE1836 400px, #009989 400px, #009989 500px);
        background-image: -webkit-linear-gradient(left, #A3A948 0%, #A3A948 10%, #EDB92E 10%, #EDB92E 20%, #F85931 20%, #F85931 30%, #CE1836 30%, #CE1836 40%, #009989 40%, #009989 50%, #A3A948 50%, #A3A948 60%, #EDB92E 60%, #EDB92E 70%, #F85931 70%, #F85931 80%, #CE1836 80%, #CE1836 90%, #009989 90%, #009989 100%);

      }

    #content {
    font-size: 72px;
		width: 500px ;
		height: 1px ;
		margin-left: auto ;
		margin-right: auto ;
		margin-top: 100px;
		text-align: center;
	  }

	  #subcontent {
    font-size: 32px;
		width: 500px ;
		height: 1px ;
		margin-left: auto ;
		margin-right: auto ;
		margin-top: 100px;
		text-align: center;
	  }
    </style>
  </head>
  <body>
    <div id="content">Rainbow Ref</div>
    <div id="subcontent">A new way to share content</div>
    <div id="subcontent">
      <form action="/create" method="post">
        <input type="text" name="url">
        <input type="submit">
      </form>
    </div>
  </body>
</html>